*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* logo*/
.logo {
    height: 150px;
    background-color: rgb(229,179,123);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 150px;
    border-radius: 100px;
}


/* fundo inicial */
.one{
    height: 539px;
}
.menu img{
    height: 539px;
    width: 100%;
    position:absolute;
    z-index: -1;
}
.color{
    background-color: rgba(0,0,0, 0.3);
    height: 539px;
    width: 100%;
    position:absolute;
    z-index: -1;
}


/* escolhas do produto */
.produtos-global{
    display: inline;
    height: 539px;
}
.menu-produto{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(238, 229, 229);
    height: 100px;
}
.produto{
    width: 155px;
    background-color: rgb(99,102,107);
    border-radius: 50px;
    margin-top: 300px;
}
.produto a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 20px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.produto a:hover {
    color:rgb(187, 255, 0);
}


/* sobre a loja */
.sobre-loja{
    background-color: rgba(0,0,0, 0.3);
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fundo-img {
    height:220px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-position: end;
}
.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 500px;
    color: rgb(252, 252, 252);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-left:70px;
}
.titulo{
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
}
.redes-socias a {
    text-decoration: none;
    color: white; 
}
/* facebook */
.redes{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
}
.redes img {
    height: 25px;
    border-radius: 10px;
}
.redes:hover {
    background-color:rgb(23,120,242);
    border-radius: 20px;
    transition: 1s;
}
/* instagram */
.redes-2{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
}
.redes-2 img {
    height: 25px;
    border-radius: 10px;
}
.redes-2:hover {
    background-color:rgb(191,45,120);
    border-radius: 20px;
    transition: 1s;
}
/* whatsapp*/
.redes-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    text-align: center;
}
.redes-3 img, a{
    height: 45px;
    text-decoration: none;
    color: white;
    margin-top: 3px;
}
.redes-3:hover {
    background-color:rgb(50,217,81);
    border-radius: 20px;
    transition: 1s;
}
.borda {
    height: 100px;
    width: 3px;
    background-color: white;
}
.contato {
    padding-right:10px;
    text-align: center;
    padding: 10px;
}
/*localização*/
.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 500px;
}
.mapa iframe{
    height: 200px;
    width: 500px;
    margin-right: 70px;
    border-radius: 10px;
}


/* produtos */
.amostra {
    display: flex;
}    
.sobre-produto{
    margin-top: 100px;
    margin-left: 100px;
}
.nome{
    font-size: 30px;
    font-family:'Kalam', cursiva;
    font-weight: 600;
    padding-bottom: 1px;
}
.barra {
    height: 10px;
    width: 140px;
    background-color: rgb(229,179,123);
    margin: 0;
    margin-bottom: 30px;
}
.descricao, ul, li{
    width: 450px;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Produtos a esquerda */
.img-produto img{
    height: 600px;
    width: 650px;
    margin-left: 80px;
}
/* Produtos a direita */
.sobre-produto-2{
    margin-top: 100px;
}
.img-produto-2 img{
    height: 600px;
    width: 650px;
    margin-right: 150px;
}


/* abertura e fechadura de modais */
.escolhas0{
    height:80vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0, 0.3);
}
.escolhas0.abrir{
    display: flex;
}
.escolhas1{
    height:80vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0, 0.3);
}
.escolhas1.abrir{
    display: flex;
}
.escolhas2{
    height:80vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0, 0.3);
}
.escolhas2.abrir{
    display: flex;
}
.escolhas3{
    height:80vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0, 0.3);
}
.escolhas3.abrir{
    display: flex;
}
.escolhas4{
    height:80vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0, 0.3);
}
.escolhas4.abrir{
    display: flex;
}
.escolhas5{
    height:80vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0, 0.3);
}
.escolhas5.abrir{
    display: flex;
}
.escolhas6{
    height:80vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0, 0.3);
}
.escolhas6.abrir{
    display: flex;
}
.escolhas7{
    height:650px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0, 0.3);
}
.escolhas7.abrir{
    display: flex;
}


/* modal de  escolha de sabor  */
.fechar{
    color: white;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
}
.X{
    height: 23px;
    width: 23px;
    border-radius: 5px;
    background-color:rgb(99,102,107) ;
    cursor: pointer;
    margin: 0;
}
.X:hover{
    color:greenyellow
}
.escolha-titulo{
    margin-top: 25px;
    margin-bottom: 25px;
    text-decoration: underline;
}
.escolha{
    text-align: center;
    height: 170px;
    width: 350px;
    background-color:white;
    border-radius: 30px;
}
.tipos {
    display: flex;
    height: 200px;
    margin-top: 20px;
}
.selecao-sabor, option{
    height: 25px;
    width: 120px;
    font-size: 15px;
    border: 1px solid rgb(235, 139, 29);
    border-radius: 10px;
    outline: none;
    margin-bottom:30px ;
    font-family:'Kalam', cursiva;
}
.prosseguir {
    border-radius: 10px;
    height: 35px;
    width: 120px;
    background-image: linear-gradient(rgb(160, 238, 44),rgb(120,198,0));
    color:rgb(99,102,107);
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.escolha a:hover{
    color: black;
}


/* saiba mais esquerda */
.botao {
    width: 150px;
    background-image:linear-gradient(rgb(229,179,123), rgb(206, 153, 93), rgb(235, 139, 29));
    margin: 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 32px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.botao:hover{
    transition: 1s;
    color:rgb(99,102,107);
    background-image: linear-gradient(rgb(160, 238, 44),rgb(120,198,0));
    border-radius: 10px;
}


/* saiba mais direita */
.botao-1 {
    width: 150px;
    background-image:linear-gradient(rgb(229,179,123), rgb(206, 153, 93), rgb(235, 139, 29));
    margin: 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 32px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.botao-1:hover{
    transition: 1s;
    background-image: linear-gradient(rgb(160, 238, 44),rgb(120,198,0));
    border-radius: 10px;
    color:rgb(99,102,107);
}

/* rodapé */
.end{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Kalam', cursive;
    font: 20px;
    background-color:rgb(229,179,123);
}
