@media screen and (min-width:450px) and (max-width:650px) {
   /*FUNDO INICIAL*/
   .one{
    height: 580px;
    }
    .menu img{
        height: 580px;
    }
    .color{
        height: 580px;
    }
    .produtos{ 
        height: 580px;
    }

    /*DADOS DA LOJA*/
    .sobre-loja{
        gap: 50px;
        display: block;
        height: 470px;
    }
    .sobre {
        gap: 25px;
        padding-top: 25px;
    }
    /*LOCALIZAÇÃO*/
    .mapa{
        height: 300px;
        width: 100%;
        margin-top: 10px;
    }
    .mapa iframe{
        height: 300px;
        width: 450px;
    }

    /*PRODUTOS*/
    .amostra {
        height: 100%;
        gap:10px;
        border: 10px;
        border-style:outset;
        border-color: rgb(229,179,123) rgb(129, 59, 5);
    }
    .descricao{ 
        width: 400px;
        font-size: 20px;
    }
    .nome{
        font-size: 30px;
    }
    .SB{
        font-size: 15px;
    }
    .SB-S{
        font-size: 15px;
    }

    /*PRODUTOS A ESQUERDA*/
    .img-produto img{
        height: 250px;
        width: 250px;
        position: absolute;
        right: 25px;
    }

    /*PRODUTOS A DIREITA*/
    .img-produto-2 img{
        height: 250px;
        width: 250px;
        position: absolute;
        right: 20px;
        margin-top: 20px;
    }

    /*SAIBA MAIS A ESQUERDA*/
    .botao {
        padding: 10px 30px;
        font-size: 14px;
    }

    /*SAIBA MAIS A DIREITA*/
    .botao-1 {
        padding: 10px 30px;
        font-size: 14px;
        margin-left: 0px;
    }

    /*RODAPÉ*/
    footer{
        gap: 25px;
    }
    .roberts-imagem{
        height: 120px;
        margin-left: 10px;
    }
    .divisoria{
        height: 150px;
    }
    .cnpj{
        font-size: 15px;
    }
}
@media screen and (min-width:651px) and  (max-width:1023px) {
    /*FUNDO INICIAL*/
    .one{
        height: 565px;
    }
    .menu img{
        height: 565px;
    }
    .color{
        height: 565px;
    }
    .produtos{ 
        height: 565px;
    }

    /*DADOS DA LOJA*/
    .sobre-loja{
        gap: 50px;
        display: block;
        height: 520px;
    }
    .sobre {
        gap: 25px;
        padding-top: 25px;
    }
    /*LOCALIZAÇÃO*/
    .mapa{
        height: 300px;
        width: 100%;
        margin-top: 50px;
    }
    .mapa iframe{
        height: 300px;
        width: 500px;
    }

    /*PRODUTOS*/
    .amostra {
        height: 100%;
        gap:25px;
    }
    .descricao{ 
        width: 250px;
        font-size: 20px;
    }
    .nome{
        font-size: 35px;
    }
    .SB{
        font-size: 18px;
    }
    
    /*PRODUTOS A ESQUERDA*/
    .img-produto img{
        height: 300px;
        width: 300px;
    }

    /*PRODUTOS A DIREITA*/
    .img-produto-2 img{
        height: 300px;
        width: 300px;
    }

    .botao-1 {
        margin-left: 90px;
    }

    /*RODAPÉ*/
    footer{
        gap: 25px;
    }
    .roberts-imagem{
        height: 150px;
    }
    .divisoria{
        height: 150px;
    }
    .cnpj{
        font-size: 18px;
    }
}
@media screen and (min-width:1024px) and (max-width:1300px) {
    /*FUNDO INICIAL*/
    .one{
        height: 519px;
    }
    .menu img{
        height: 519px;
    }
    .color{
        height: 519px;
    }
    .produtos{ 
        height: 519px;
    }

    /*DADOS DA LOJA*/
    .sobre-loja{
        gap: 50px;
    }
    .sobre {
        gap: 25px;
    }

    /*PRODUTOS*/
    .amostra {
        height: 100vh;
        gap: 50px;
    }
    .descricao{ 
        width: 300px;
    }

    /*PRODUTOS A ESQUERDA*/
    .img-produto img{
        height: 500px;
        width: 500px;
    }

    /*PRODUTOS A DIREITA*/
    .img-produto-2 img{
        height: 500px;
        width: 500px;
    }

    .botao-1 {
        margin-left: 150px;
    }
}
@media screen and (min-width:1301px) and (max-width:1500px) {
    /*FUNDO INICIAL*/
    .one{
        height: 519px;
    }
    .menu img{
        height: 519px;
    }
    .color{
        height: 519px;
    }
    .produtos{ 
        height: 519px;
    }

    .amostra {
        width: 100%;
        height: 100vh;
        gap: 50px;
    }
}
@media screen and (min-width:1501px) and (max-width:1600px) {
    .one{
        height: 519px;
    }
    .menu img{
        height: 519px;
    }
    .color{
        height: 519px;
    }
    .produtos{ 
        height: 519px;
    }
}
